@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --primary: #212429;
  --secondary: #ffffff;
}

* {
  font-family: "Montserrat";
}

.container-general {
  margin-top: 32px;
  margin-bottom: -32px;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration-color: var(--primary);
  span {
    justify-content: space-evenly;
  }
}

header {
  margin-top: 32px;
  margin-left: 32px;
  font-size: 32px;
}

.container-general > a {
  text-decoration: none;
}

.container-img > img {
  border-radius: 20px;
}

.container-icons {
  display: flex;
  justify-self: left;
  gap: 10px;
  justify-content: space-around;
}

.container-stripe {
  margin-top: 64px;
  width: 100%;
  border: 1px solid var(--primary);
}

.container-lista-productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-img {
  margin-top: 32px;
}

.container-span {
  margin-top: 32px;
  display: flex;
  justify-content: space-evenly;
}

.pie-de-producto{
  display: flex;
  justify-content: space-between;
}